<h1>Signup to Jungle</h1>
<br>
<%= form_for :user, url: '/users' do |f| %>
<div class="form-group">  
  <%= label_tag :first_name %>
  <%= f.text_field :first_name, class: 'form-control',
                                placeholder: 'first name' %>
</div>

<div class="form-group">
  <%= label_tag :last_name%>
  <%= f.text_field :last_name,  class: 'form-control',
                                placeholder: 'last name' %>
</div>

<div class="form-group">
  <%= label_tag :email %>
  <%= f.text_field :email,  class: 'form-control',
                            placeholder: 'email' %>
</div>

<div class="form-group">
  <%= label_tag :password %>
  <%= f.password_field :password, class: 'form-control',
                                  placeholder: 'password' %>
</div>

<div class="form-group">
  <%= label_tag :password_confirmation %>
  <%= f.password_field :password_confirmation,  class: 'form-control',
                                                placeholder: 'enter password again' %>
</div>


  <%= f.submit "Submit", class: 'btn btn-info' %>

<% end %>
