<article>
  
<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4> <strong> <%= product.name %> </strong> </h4>
    <br>
    <p> <%= product.description %> </p>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <%=  line_item.quantity %>
  </td>
  <td>
    <%=  humanized_money_with_symbol product.price*line_item.quantity %>
  </td>
</tr>
  
</article>

